# Firebase Configuration
REACT_APP_FIREBASE_API_KEY=AIzaSyCJzqHdmRcOaqPpv2fjw-Sz1Udtfhwt1i0
REACT_APP_FIREBASE_AUTH_DOMAIN=websweep-dd75e.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=websweep-dd75e
REACT_APP_FIREBASE_STORAGE_BUCKET=websweep-dd75e.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=424626128545
REACT_APP_FIREBASE_APP_ID=1:424626128545:web:23bfad86b7faf9967092e0
REACT_APP_FIREBASE_MEASUREMENT_ID=G-C4X5P1R391
